.tag {
  composes: focusVisible from '../../styles/shared.module.css';
  display: inline-block;
  padding: 0;
  color: var(--color-default);
  background: var(--background-default);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-pill);
  line-height: 0;
  transition: background var(--transition-micro), border var(--transition-micro);
}

button.tag:hover {
  cursor: pointer;
  background: var(--background-default-hover);
  border-color: var(--color-border-hover);
}

.content {
  composes: focusVisible from '../../styles/shared.module.css';
  display: inline-block;
  font-size: var(--font-size-s);
  padding: var(--spacing-xs) var(--spacing-xxs) var(--spacing-xs)
    var(--spacing-s);
  margin: 0;
  border-top-left-radius: var(--border-radius-pill);
  border-bottom-left-radius: var(--border-radius-pill);
  line-height: 1;
}
.content:only-child {
  padding: var(--spacing-xs) var(--spacing-s);
  border-top-right-radius: var(--border-radius-pill);
  border-bottom-right-radius: var(--border-radius-pill);
}

.closeButton {
  composes: focusVisible from '../../styles/shared.module.css';
  display: inline-block;
  font-size: var(--font-size-s);
  padding: var(--spacing-xs);
  margin: 0;
  transition: background var(--transition-micro);
  color: var(--color-subtle);
  background: var(--background-default);
  border-top-right-radius: var(--border-radius-pill);
  border-bottom-right-radius: var(--border-radius-pill);
  border: none;
  outline: 0;
  line-height: 0;
  cursor: pointer;
  vertical-align: middle;
}

.closeButton:hover,
.closeButton:active {
  color: var(--color-subtle-hover);
  background: var(--background-default-hover);
}

.disabled {
  composes: disableVisually from '../../styles/shared.module.css';
}

.active {
  color: var(--color-neutral);
  background: var(--color-brand);
  border-color: var(--color-brand);
}
button.active:hover {
  background: var(--color-brand-hover);
  border-color: var(--color-brand-hover);
}
