.base {
  composes: focusVisible from '../../styles/shared.module.css';

  --color-button: var(--color-brand);
  --background-button: var(--color-neutral);

  display: inline-flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  line-height: 1.3333;
  margin: 0;
  transition: all var(--transition-micro);
  border-radius: var(--border-radius-pill);
  border: none;
  outline: 0;
  cursor: pointer;
  color: var(--color-button);
  background: var(--background-button);
}

.base > svg + span {
  margin-left: var(--spacing-xs);
}

.primary {
  --color-button: var(--color-neutral);
  --background-button: var(--color-brand);
}
.primary:hover {
  --background-button: var(--color-brand-hover);
}

.secondary {
  --color-button: var(--color-brand);
  --background-button: var(--background-default);
}
.secondary:hover {
  --color-button: var(--color-brand-hover);
  --background-button: var(--background-default-hover);
}

.destructive {
  --color-button: var(--color-neutral);
  --background-button: var(--color-danger);
}
.destructive:hover {
  --background-button: var(--color-danger-hover);
}
.destructive.secondary {
  --color-button: var(--color-danger);
  --background-button: var(--background-default);
}
.destructive.secondary:hover {
  --color-button: var(--color-danger-hover);
  --background-button: var(--background-default-hover);
}

.disabled {
  composes: disableVisually from '../../styles/shared.module.css';
}

.s {
  padding: var(--spacing-xxs) var(--spacing-s);
}

.m {
  padding: var(--spacing-s) var(--spacing-l);
}

.iconOnly {
  border-radius: var(--border-radius-circle);
  justify-content: center;
}
.iconOnly.s {
  width: 32px;
  height: 32px;
  padding: var(--spacing-xxs);
}
.iconOnly.m {
  width: 48px;
  height: 48px;
  padding: var(--spacing-s);
}
