.base {
  --topography-clip-path: url(#blob-button-text);
  position: relative;
  display: inline-flex;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  line-height: 1.3333;
  margin: 0;
  transition: all var(--transition-micro);
  border-radius: var(--border-radius-pill);
  background: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
  clip-path: url(#blob-4);
}
.base:focus {
  outline: 0;
}
.base:focus::-moz-focus-inner {
  border: 0;
}

.base > svg + span {
  margin-left: var(--spacing-xs);
}

.primary {
  --topography-background: var(--background-button-primary);
  color: var(--color-button-primary);
}
.primary:hover,
.primary:focus {
  --topography-background: var(--background-button-primary-hover);
}

.secondary {
  --topography-background: var(--background-button-secondary);
  color: var(--color-button-secondary);
}
.secondary:hover,
.secondary:focus {
  --topography-background: var(--background-button-secondary-hover);
}

.destructive {
  --topography-background: var(--background-button-danger);
  color: var(--color-button-danger);
}
.destructive:hover,
.destructive:focus {
  --topography-background: var(--background-button-danger-hover);
}

.disabled {
  composes: disable-visually from '../../styles/shared.module.css';
}

.s {
  --topography-offset: 3px;
  padding: var(--spacing-xs) var(--spacing-m);
}
.s:focus,
.s:hover {
  --topography-offset: 2px;
}

.m {
  --topography-offset: 4px;
  padding: var(--spacing-m) var(--spacing-l);
}
.m:focus,
.m:hover {
  --topography-offset: 3px;
}
