.base {
  composes: focus-visible from '../../styles/shared.module.css';
  display: inline-flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  line-height: 1.3333;
  margin: 0;
  transition: all var(--transition-micro);
  border-radius: var(--border-radius-pill);
  border: none;
  outline: 0;
  cursor: pointer;
}

.base > svg + span {
  margin-left: var(--spacing-xs);
}

.primary {
  background: var(--background-button-primary);
  color: var(--color-button-primary);
}
.primary:hover {
  background: var(--background-button-primary-hover);
}

.secondary {
  background: var(--background-button-secondary);
  color: var(--color-button-secondary);
}
.secondary:hover {
  background: var(--background-button-secondary-hover);
}

.destructive {
  background: var(--background-button-danger);
  color: var(--color-button-danger);
}
.destructive:hover {
  background: var(--background-button-danger-hover);
}

.disabled {
  composes: disable-visually from '../../styles/shared.module.css';
}

.s {
  padding: var(--spacing-xxs) var(--spacing-s);
}

.m {
  padding: var(--spacing-s) var(--spacing-l);
}

.icon-only {
  border-radius: var(--border-radius-circle);
  justify-content: center;
}
.icon-only.s {
  width: 32px;
  height: 32px;
  padding: var(--spacing-xxs);
}
.icon-only.m {
  width: 48px;
  height: 48px;
  padding: var(--spacing-s);
}
