@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Merriweather Sans Light'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-300.woff2')
      format('woff2'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-300.woff')
      format('woff');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Sans'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-regular.woff2')
      format('woff2'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-regular.woff')
      format('woff');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Merriweather Sans Bold'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-800.woff2')
      format('woff2'),
    url('https://assets.connor.li/fonts/merriweather-sans-v11-latin-800.woff')
      format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather'),
    url('https://assets.connor.li/fonts/merriweather-v21-latin-regular.woff2')
      format('woff2'),
    url('https://assets.connor.li/fonts/merriweather-v21-latin-regular.woff')
      format('woff');
}

/**
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Our globals */
/**
 * Best practice from http://callmenick.com/post/the-new-box-sizing-reset
 * TLDR: It’s easier to override and a slight performance boost.
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

@media (min-width: 112.5em) {
  html {
    font-size: 112.5%;
  }
}

html [type='button'] {
  appearance: none;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

/**
 * Form elements don't inherit font settings.
 * https://stackoverflow.com/questions/26140050/why-is-font-family-not-inherited-in-button-tags-automatically
 */
body,
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-sans);
  font-size: 100%;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*::selection {
  background-color: var(--color-selection-background);
  color: var(--color-selection);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all var(--transition-micro);
}

a:hover,
a:focus {
  cursor: pointer;
}

pre,
code {
  font-family: var(--font-mono);
}

style {
  display: none !important;
}
