.hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.disable-visually {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
  filter: grayscale(33%);
}

.focus-outline {
  outline: 0;
  box-shadow: 0 0 4px 4px var(--color-focus-outline);
}
.focus-outline::-moz-focus-inner {
  border: 0;
}

.focus-visible:focus {
  outline: 0;
  box-shadow: 0 0 4px 4px var(--color-focus-outline);
}
.focus-visible:focus::-moz-focus-inner {
  border: 0;
}
.focus-visible:focus:not(:focus-visible) {
  box-shadow: none;
}

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}
.clearfix::after {
  clear: both;
}

/* Layout classes */

.page-width {
  max-width: var(--width-page);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-gutter);
  padding-left: var(--spacing-gutter);
}

.full-width {
  max-width: var(--width-max);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 75em) {
  .full-width {
    padding-right: var(--spacing-gutter);
    padding-left: var(--spacing-gutter);
  }
}

/* Utility classes */
/* HACK: `!important` is necessary to override any component base styles */

.spacing {
  margin: var(--spacing-m) !important;
}

.spacing-top {
  margin-top: var(--spacing-m) !important;
}

.spacing-right {
  margin-right: var(--spacing-m) !important;
}

.spacing-bottom {
  margin-bottom: var(--spacing-m) !important;
}

.spacing-left {
  margin-left: var(--spacing-m) !important;
}

.spacing-vertical {
  margin-top: var(--spacing-m) !important;
  margin-bottom: var(--spacing-m) !important;
}

.spacing-horizontal {
  margin-right: var(--spacing-m) !important;
  margin-left: var(--spacing-m) !important;
}
