.hideVisually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.disableVisually {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
  filter: grayscale(33%);
}

.focusOutline {
  outline: 0;
  box-shadow: 0 0 4px 4px var(--color-focus-outline);
}
.focusOutline::-moz-focus-inner {
  border: 0;
}

.focusVisible:focus {
  outline: 0;
  box-shadow: 0 0 4px 4px var(--color-focus-outline);
}
.focusVisible:focus::-moz-focus-inner {
  border: 0;
}
.focusVisible:focus:not(:focus-visible) {
  box-shadow: none;
}

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}
.clearfix::after {
  clear: both;
}

/* Layout classes */

.pageWidth {
  max-width: var(--width-page);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-gutter);
  padding-left: var(--spacing-gutter);
}

.fullWidth {
  max-width: var(--width-max);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 75em) {
  .fullWidth {
    padding-right: var(--spacing-gutter);
    padding-left: var(--spacing-gutter);
  }
}

/* Utility classes */
/* HACK: `!important` is necessary to override any component base styles */

.spacing {
  margin: var(--spacing-m) !important;
}

.spacingTop {
  margin-top: var(--spacing-m) !important;
}

.spacingRight {
  margin-right: var(--spacing-m) !important;
}

.spacingBottom {
  margin-bottom: var(--spacing-m) !important;
}

.spacingLeft {
  margin-left: var(--spacing-m) !important;
}

.spacingVertical {
  margin-top: var(--spacing-m) !important;
  margin-bottom: var(--spacing-m) !important;
}

.spacingHorizontal {
  margin-right: var(--spacing-m) !important;
  margin-left: var(--spacing-m) !important;
}
