.wrapper {
  position: relative;
}

.labelOpen {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.input {
  display: block;
  padding: var(--spacing-xxs) 0;
  margin: 0;
  width: 100%;
  border-radius: var(--border-radius-s);
  border: none;
  outline: 0;
  box-shadow: none;
  line-height: 1;
  background-color: transparent;
  color: var(--color-default);
  font-size: var(--font-size-m);
}

.inputWrapper {
  display: flex;
  padding: 0 var(--spacing-m);
}

.multiSelectOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-m);
}

.multiSelectWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 8rem;
  padding: 1px;
}

.expandButton {
  composes: focusVisible from '../../../styles/shared.module.css';
  display: inline-block;
  font-size: var(--font-size-s);
  padding: var(--spacing-xxs);
  margin: 0;
  margin-right: calc(-1 * var(--spacing-xs));
  transition: background-color var(--transition-micro);
  color: var(--color-subtle);
  background-color: inherit;
  border-radius: var(--border-radius-s);
  border: none;
  outline: 0;
  line-height: 0;
  cursor: pointer;
}

.expandButton:hover,
.expandButton:active {
  color: var(--color-subtle-hover);
  background: var(--background-default-hover);
}

.suggestionList {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  list-style-type: none;
  border-bottom-right-radius: var(--border-radius-s);
  border-bottom-left-radius: var(--border-radius-s);
  overflow: hidden;
  width: 100%;
  z-index: var(--z-index-autocomplete);
  box-shadow: 0 0 0 2px var(--color-input-focus),
    0 4px 12px 0 var(--color-input-focus);
  margin-bottom: var(--spacing-l);
}

.suggestionListInvalid {
  box-shadow: 0 0 0 2px var(--color-danger), 0 0 6px var(--color-shadow);
}

.suggestion {
  background: var(--background-default);
  padding: var(--spacing-xs) var(--spacing-m);
  cursor: pointer;
}

.suggestionHighlighted {
  background: var(--background-subtle);
}

.highlight {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  background: inherit;
  color: inherit;
}
