.header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(env(safe-area-inset-top) + var(--spacing-xs));
  padding-right: var(--spacing-gutter);
  padding-bottom: var(--spacing-xs);
  padding-left: var(--spacing-gutter);
  transition: opacity var(--transition-standard),
    background var(--transition-standard), padding var(--transition-standard);
  background: var(--background-default);
  z-index: var(--z-index-navigation);
}
.header:hover {
  opacity: 1;
}
@media (min-width: 56.25em) {
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: var(--spacing-m) var(--spacing-gutter);
  }
}

.headerTransparent {
  background: transparent;
}

@media (min-width: 56.25em) {
  .headerInvisible {
    opacity: 0;
  }
}

@media (min-width: 56.25em) {
  .headerFloating {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    box-shadow: var(--shadow-m);
    background: var(--background-default);
  }
}

.wrapper {
  display: flex;
  align-items: center;
}
