.bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
  width: 100%;
  pointer-events: none;
  z-index: var(--z-index-loadingbar);
  background: var(--color-brand);
}

.peg {
  box-shadow: 0 0 10px var(--color-brand), 0 0 5px var(--color-brand);
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  transform: rotate(3deg) translate(0, -4px);
  width: 100px;
}
