.label {
  display: block;
  position: relative;
  padding: var(--spacing-xs) 0;
  margin: 0;
  transition: box-shadow var(--transition-micro),
    background var(--transition-micro);
  border-radius: var(--border-radius-m);
  background: var(--background-default);
  box-shadow: 0 0 0 1px var(--color-input);
}

.label:hover {
  box-shadow: 0 0 0 1px var(--color-input-hover), 0 0 6px 0 var(--color-input);
}
.label:focus,
.label:focus-within {
  box-shadow: 0 0 0 2px var(--color-input-focus),
    0 0 12px 0px var(--color-input-focus);
}

.labelInvalid {
  background: var(--background-button-danger);
  box-shadow: 0 0 0 1px var(--color-button-danger);
}
.labelInvalid::after {
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    var(--color-button-danger)
  );
}
.labelInvalid svg {
  color: var(--color-button-danger);
}
.labelInvalid:hover {
  box-shadow: 0 0 0 1px var(--color-button-danger),
    0 0 4px 0 var(--color-button-danger);
}
.labelInvalid:focus,
.labelInvalid:focus-within {
  box-shadow: 0 0 0 2px var(--color-button-danger),
    0 0 12px 0 var(--color-button-danger);
}

.labelDisabled {
  composes: disableVisually from '../../../styles/shared.module.css';
}

.text {
  display: block;
  padding: var(--spacing-xxs) var(--spacing-xxxl) 0 var(--spacing-m);
  color: var(--color-subtle);
  font-size: var(--font-size-s);
}

.textHidden {
  composes: hideVisually from '../../../styles/shared.module.css';
}

.validationHint {
  display: block;
  padding: 0 var(--spacing-m) var(--spacing-xxs);
  color: var(--color-subtle);
  font-size: var(--font-size-s);
}

.validationHintInvalid {
  color: var(--color-danger);
}

.suffix {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: var(--spacing-s);
  margin-right: var(--spacing-m);
}
