{
  "plugins": [
    "transform-class-properties",
    "lodash",
    "transform-object-rest-spread",
    [
      "emotion",
      {
        "autoLabel": true,
        "hoist": true
      }
    ]
  ],
  "presets": [["env", { "loose": true, "modules": false }], "react"]
}
