.select {
  appearance: none;
  display: block;
  height: 28.5px;
  position: relative;
  width: 100%;
  padding: var(--spacing-xxs) var(--spacing-xxl) var(--spacing-xxs)
    var(--spacing-m);
  margin: 0;
  border: none;
  outline: 0;
  box-shadow: none;
  line-height: 1;
  background: transparent;
  color: var(--color-default);
  font-size: var(--font-size-m);
  cursor: pointer;
  z-index: var(--z-index-select);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.select::-ms-expand {
  display: none;
}

.chevron {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0.75rem;
  margin-right: 1.33rem;
}
