.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapperSingle {
  width: 100%;
}

.wrapperCenter,
.wrapperFull {
  width: calc((100% / x) - (var(--spacing-gutter) / 2));
}

.wrapperSide {
  width: calc(50% - (var(--spacing-gutter) / 4));
  margin-bottom: calc(var(--spacing-gutter) / 2);
}
.wrapperSide:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
