.nav {
  position: fixed;
  left: 0;
  bottom: calc(env(safe-area-inset-right) + var(--spacing-s));
  right: 0;
  display: flex;
  justify-content: center;
  transition: transform var(--transition-standard);
}
@media (min-width: 37.5em) {
  .nav {
    padding: var(--spacing-xs) var(--spacing-s);
  }
}
@media (min-width: 56.25em) {
  .nav {
    position: static;
    transition: none;
  }
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  border-radius: var(--border-radius-pill);
  padding: var(--spacing-xxs) var(--spacing-m);
  background: var(--background-default);
  box-shadow: var(--shadow-m);
}
@media (min-width: 37.5em) {
  .wrapper {
    padding: var(--spacing-xxs);
  }
}
@media (min-width: 56.25em) {
  .wrapper {
    padding: 0;
    width: auto;
    background: none;
    box-shadow: none;
    border: none;
  }
}

.navInvisible {
  transform: translateY(125%);
}
@media (min-width: 56.25em) {
  .navInvisible {
    transform: none;
  }
}

.anchor {
  composes: focusVisible from '../../../../styles/shared.module.css';
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  letter-spacing: 1px;
  padding: var(--spacing-xs) var(--spacing-s);
  margin-right: var(--spacing-xs);
  color: var(--color-button-secondary);
  background: var(--background-default);
  text-align: center;
  border-radius: var(--border-radius-l);
  transition: color var(--transition-micro), background var(--transition-micro);
}
.anchor:last-of-type {
  margin-right: 0;
}
@media (min-width: 37.5em) {
  .anchor {
    flex-direction: row;
    border-radius: var(--border-radius-pill);
    padding: var(--spacing-s) var(--spacing-m);
  }
  .anchor:hover {
    background: var(--background-button-secondary-hover);
  }
}
@media (min-width: 56.25em) {
  .anchor {
    margin-right: var(--spacing-l);
  }
}
@media (min-width: 75em) {
  .anchor {
    margin-right: var(--spacing-xl);
  }
}

.anchorActive {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}
@media (min-width: 56.25em) {
  .anchorActive {
    color: var(--color-button-secondary);
    background: var(--background-button-secondary);
  }
}

.icon {
  display: inline-block;
  margin-bottom: var(--spacing-xxs);
  font-size: var(--font-size-l);
}
@media (min-width: 37.5em) {
  .icon {
    margin-right: var(--spacing-xxs);
    margin-bottom: 0;
  }
}
@media (min-width: 56.25em) {
  .icon {
    display: none;
  }
}

.label {
  font-size: var(--font-size-s);
}
@media (min-width: 37.5em) {
  .label {
    font-size: var(--font-size-m);
  }
}
